.inner-container {
    align-items: center;
    padding: 20px;
    display: grid;
    align-content: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.side-images {
    width: 40px;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 7%;
}

